
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.calculator{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 25px;
    
}

#display{
    width: 90%;
    margin: 13px;
    font-size: 25px;
    /* text-align: right; */
}
.button{
    width: 50px;
    height: 40px;
}
.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}